@model Estream.Cart42.Web.Models.NewsletterSubscriptionViewModel

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class=" box newsletter_block" id="newsletter_footer_center0">
        <div class="box-heading">@Html.T("Newsletter")</div>
        <div class="description"><p>@Html.T("Stay updated on our latest special offers!") </p></div>
        <div class="block_content">
            <form method="POST" action="@Url.Action("AddSubscription","NewsletterSubscription")">
                <div class="input-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control inputNew", watermark = "Your email address" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary button_mini">@Html.T("Subscribe")</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
