@using Estream.Cart42.Web.Helpers
@model int?
           
<select id="@Html.IdForModel()" name="@Html.NameForModel()" @Html.RenderHtmlAttributes(ViewData["htmlAttributes"])>
    <option value="">@Html.TA("no link")</option>
    @for (int i = 1; i <= 50; i++)
    {
        <option value="@i" @( Model == @i ? "selected" : "" )>@i</option>
    }
</select>