@using Estream.Cart42.Web.Domain
@model Estream.Cart42.Web.Areas.Admin.Models.PaymentMethodViewModel

@{ ViewBag.Title = "Edit Payment Method".TA(); }
@section Heading
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Html.TA("Home")</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "PaymentMethod")">@Html.TA("Payment Methods")</a>
                </li>
                <li class="active">
                    <strong>@Model.Name</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
            </div>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@Html.TA("Payment Method Details")</h5>
        </div>
        <div class="ibox-content">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CountryCodes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="overflow:auto; max-height:200px;">
                        <div id="divCountrySelector">
                            @foreach (Country country in ViewBag.Countries)
                            {
                                <div>
                                    <label>
                                        <input type="checkbox" name="@Html.NameFor(c => c.CountryCodes)" @(Model.CountryCodes.Any(c => c == country.Code) ? "checked" : "") value="@country.Code" />
                                        @country.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@Html.TA("Save")</button>
            </div>
        </div>
    </div>

}
