@model Estream.Cart42.Web.Domain.ContentPage

@{ ViewBag.Title = "Edit Content Page".TA(); }
@section Heading
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Html.TA("Home")</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ContentPage")">@Html.TA("Content Pages")</a>
                </li>
                <li class="active">
                    <strong>@Model.Title</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
            </div>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@Html.TA("Content Page Details")</h5>
        </div>
        <div class="ibox-content">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                @Html.EditorForModel()

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">@Html.TA("Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}