@model IEnumerable<Estream.Cart42.Web.Domain.ContentPage>

@{ ViewBag.Title = "Content Pages".TA(); }
@section Heading
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Html.TA("Home")</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                @if (User.HasAccess(OperatorRoles.CONTENT + OperatorRoles.WRITE))
                {
                    <a href="@Url.Action("Create")" class="btn btn-primary"><span class="fa fa-plus"></span>&nbsp;@Html.TA("Add Content Page")</a>
                }
            </div>
        </div>
    </div>
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="ibox-content">
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HeaderPosition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FooterPosition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RedirectToUrl)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeaderPosition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FooterPosition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RedirectToUrl)
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-default btn-outline dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    @if (User.HasAccess(OperatorRoles.CONTENT + OperatorRoles.WRITE))
                                    {
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Edit", new {id = item.Id})"><span class="fa fa-pencil"></span>&nbsp;@Html.TA("Edit")</a></li>
                                    }
                                    @if (User.HasAccess(OperatorRoles.CONTENT + OperatorRoles.DELETE))
                                    {
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Delete", new {id = item.Id})"><span class="fa fa-times"></span>&nbsp;@Html.TA("Delete")</a></li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <div>@Html.TA("There are no content pages yet. Add new content page by clicking on the {0} button above", "<strong>" + @Html.TA("Add Content Page") + "</strong>")</div>
        }
    </div>
</div>
